/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid $border-color;
    margin: ($spacing-unit * 0.75) 0;
}



/**
 * Figures
 */
figure {
    margin: ($spacing-unit * 0.75) 0;

    > img {
        display: block;
        margin: 0;
    }
}

figcaption {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
    margin-top: 12px;
    font-style: italic;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: 400;
    line-height: 1.4;
    color: $text-color;
    margin-top: 0;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 1.75em;
    font-weight: 400;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
}



/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: underline;
    text-decoration-color: $grey-color;
    text-underline-offset: 2px;
    transition: text-decoration-color 0.2s ease;

    &:visited {
        color: $text-color;
    }

    &:hover {
        text-decoration-color: $text-color;
        text-decoration: underline;
    }

    &:active {
        opacity: 0.7;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color-dark;
    border-left: 1px solid $border-color;
    padding-left: $spacing-unit / 2;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Code', 'Droid Sans Mono', 'Source Code Pro', monospace;
    font-size: 0.9em;
}

code {
    padding: 0.2em 0.4em;
    background-color: $grey-color-light;
    color: $text-color;
    border: none;
}

pre {
    padding: $spacing-unit / 2;
    overflow-x: auto;
    background-color: $grey-color-light;
    color: $text-color;
    border: 1px solid $border-color;
    line-height: 1.6;

    > code {
        background-color: transparent;
        color: inherit;
        border: none;
        padding: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }

    &:hover > svg path {
        fill: $text-color;
    }
}
