/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $border-color;
    min-height: 60px;
    background: $background-color;
}

.site-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;

    &,
    &:visited {
        color: $text-color;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.7;
    }
}

.site-nav {
    float: right;
    line-height: 60px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        line-height: $base-line-height;
        font-weight: 400;
        padding: 0;
        margin-left: $spacing-unit;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: $text-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $text-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $border-color;
    padding: $spacing-unit 0;
    margin-top: ($spacing-unit * 2);
    background: $background-color;
}

.footer-heading {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: ($spacing-unit * 0.5);
    color: $text-color;
    text-transform: uppercase;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li {
        margin-bottom: 8px;
    }

    a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        color: $grey-color;
        text-decoration: none;

        &:hover {
            color: $text-color;
        }

        .username {
            color: inherit;
            font-weight: 400;
        }
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    min-height: calc(100vh - 300px);
}

.page-heading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: $spacing-unit;
    color: $text-color;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-bottom: $spacing-unit;
        border-bottom: 1px solid $border-color;
        
        &:last-child {
            border-bottom: none;
        }
    }
}

.post-meta {
    font-size: 12px;
    color: $grey-color;
    margin-bottom: 8px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.post-link {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 0;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $border-color;
}

.post-title {
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 12px;
    color: $text-color;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: $spacing-unit;
        margin-bottom: ($spacing-unit * 0.5);
        padding-bottom: 8px;
        border-bottom: 1px solid $border-color;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        margin-top: ($spacing-unit * 0.75);
        margin-bottom: ($spacing-unit * 0.4);

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 16px;
        font-weight: 400;
        margin-top: ($spacing-unit * 0.5);
        margin-bottom: ($spacing-unit * 0.3);

        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }

    p {
        margin-bottom: ($spacing-unit * 0.5);
    }

    ul, ol {
        margin-bottom: ($spacing-unit * 0.5);
        margin-left: $spacing-unit;
    }

    li {
        margin-bottom: ($spacing-unit * 0.15);
    }
}

// RSS Subscribe
.rss-subscribe {
    margin-top: ($spacing-unit * 1.5);
    padding-top: $spacing-unit;
    border-top: 1px solid $border-color;
    text-align: left;
    color: $grey-color;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    a {
        color: $grey-color;
        font-weight: 400;
        text-decoration: none;

        &:hover {
            color: $text-color;
        }
    }
}

// Home page
.home {
    .post-list {
        @media (min-width: $on-laptop) {
            max-width: 800px;
            margin: 0 auto;
        }
    }
}
